/* Hero */
.contact-hero{

    background:#003049;

    color:white;

    padding:110px 0 80px;

}

.contact-hero h1{

    font-size:52px;

    font-weight:700;

}

.contact-hero p{

    font-size:20px;

    opacity:.9;

}

/* Contact */
.contact-section{

    background:#003049;

    padding:90px 0;

}

.contact-section h2{

    color:#003049;

    margin-bottom:20px;

}

.card-bg{

    padding:20px 0;

    margin-left: 50px;

    margin-right: 50px;

    border: none;

    border-radius: 20px;

    background-color:#FFFFF4;

}

/* Info Cards */
.info-card {

    position: relative;

    overflow: hidden;

    background: white;

    padding: 20px;

    border-radius: 15px;

    margin-bottom: 20px;

    border-left: 5px solid #F77F00;

    transition: transform .35s ease, box-shadow .35s ease;

    z-index: 1;

}

.info-card::before {

    content: "";

    position: absolute;

    top: 0;

    left: 0;

    width: 0;

    height: 100%;

    background: #F77F00;

    transition: width .4s ease;

    z-index: -1;

}

.info-card:hover {

    transform: translateY(-8px);

    box-shadow: 0 10px 25px rgba(247,127,0,.35);

}

.info-card:hover::before {

    width: 100%;

}

.info-card h5,
.info-card p {

    transition: color .3s ease;

}

.info-card:hover h5,
.info-card:hover p {

    color: white;

}

/* Contact Form */
.contact-form{

    background:white;

    padding:35px;

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

}

/* Form Control */
.form-control{

    border-radius:12px;

    border:1px solid #ddd;

    padding:14px;

}

.form-control:hover{

    border:1px solid #000000;

    box-shadow:0 0 0 .2rem #00000033;

}

.form-control:focus{

    border-color:#00BF7C;

    box-shadow:0 0 0 .2rem #00bf7c33;

}

/* Button */
.send-btn{

    background:#F77F00;

    color:white;

    border:none;

    padding:12px 35px;

    border-radius:50px;

    transition:.3s;

}

.send-btn:hover{

    background:#003049;

    color:white;

}

/* Social */
.social-section{

    background-color: #003049;

    color: #FFFFF4;

}

.social-icons i{

    width:60px;

    height:60px;

    line-height:60px;

    text-align:center;

    border-radius:50%;

    color: #FFFFF4;

    background:#F77F00;

    margin:0 10px;

    font-size:22px;

    transition:.35s;

    cursor:pointer;

    margin-bottom:50px;

}

.social-icons i:hover{

    background:#00BF7C;

    transform: scale(1.1);

}

/* Success */
.success-toast {

    position: fixed;

    right: 30px;

    bottom: 30px;

    background: #003049;

    color: white;

    display: flex;

    align-items: center;

    gap: 15px;

    padding: 18px 25px;

    border-radius: 15px;

    box-shadow:
        0 15px 35px rgba(0,0,0,.25);

    z-index: 10000;

    animation: slideToast .5s ease;

}

.success-toast p {

    margin: 3px 0 0;

    font-size: 13px;

}

.success-icon {

    width: 40px;

    height: 40px;

    background: #00BF7C;

    border-radius: 50%;

    display: flex;

    justify-content: center;

    align-items: center;

}

/* Failed */
.failed-toast {

    position: fixed;

    right: 30px;

    bottom: 30px;

    background: #003049;

    color: white;

    display: flex;

    align-items: center;

    gap: 15px;

    padding: 18px 25px;

    border-radius: 15px;

    box-shadow:
        0 15px 35px rgba(0,0,0,.25);

    z-index: 10000;

    animation: slideToast .5s ease;

}

.failed-toast p {

    margin: 3px 0 0;

    font-size: 13px;

}

.failed-icon {

    width: 40px;

    height: 40px;

    background: #ff0000;

    border-radius: 50%;

    display: flex;

    justify-content: center;

    align-items: center;

}